{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">
        <div  style="align: center;" class="intro-banner-wrap">
            {% include "includes/alerts.html" %}
           
        </div>
    </div> <!-- container //  -->
    
    <div class='container'>

      <div class="row mx-auto"  style="float: center;">
       <div class="col-sm-2 zoom"> 
      <img src="{% static 'images/banners/NANKANG.jpg'  %}" alt="..." class="img-thumbnail  rounded mx-auto d-block">
       </div>
       <div class="col-sm-2 zoom"> 
      <img src="{% static 'images/banners/APLUS.jpg'  %}" alt="..." class="img-thumbnail  rounded mx-auto d-block">
    </div>
    <div class="col-sm-2 zoom"> 
      <img src="{% static 'images/banners/SONAR.jpg'  %}" alt="..." class="img-thumbnail  rounded mx-auto d-block">
    </div>
     
    </div>
      <div class="row mx-auto">
        <div class="col-sm-2 zoom"> 
      <img src="{% static 'images/banners/KENDA.jpg'  %}" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </div>
    <div class="col-sm-2 zoom"> 
      <img src="{% static 'images/banners/WEST.jpg'  %}" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </div>
    <div class="col-sm-2 zoom"> 
      <img src="{% static 'images/banners/COOPER.jpg'  %}" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </div>
   
      <div class="row mx-auto">
        <div class="col-sm-2 zoom"> 
          <img src="{% static 'images/banners/JK.jpg'  %}" alt="..." class="img-thumbnail rounded mx-auto d-block">
        </div>
        <div class="col-sm-2 zoom"> 
     <img src="{% static 'images/banners/CEAT.jpg'  %}" alt="..." class="img-thumbnail rounded mx-auto d-block">
    </div>
     
      </div>
     
    </div>
    
</section>
<!-- ========================= SECTION MAIN END// ========================= -->
 
<!-- ========================= SECTION  END// ========================= -->
{% endblock %}

