{% load static %}

{% if messages %}
<div class="messages" id="alert-messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert  alert-dismissible fade show alert-{{ message.tags }}" {% endif %} role="alert">
        {% if message.level == DEFAULT_MESSAGE_LEVELS_ERROR %}
        Error:
        {% endif %}
        {{ message }}
    
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}