{% load static %}
<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                 
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
            </div>

            <div class="modal-body">
                <img class="d-flex mx-auto" src="{% static 'images/icons/success.svg'  %}">
                <div class="mt-5 d-flex mx-auto justify-content-center">Thank you for contacting us. </div> <div  class="d-flex mx-auto justify-content-center"> We will be in Touch with you shortly.</div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<!-- Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
            </div>

            <div class="modal-body">
                <h4 class="modal-title text-center" id="myModalLabel2"> GET A CALL BACK </h4>

                <p>Give us your details so our experts can call you back</p>
                
                <form>

                    <div id="progress" class="col  mb-3">
                         
                    </div>

                    <div class="col  mb-3">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" name="name" id="name" class="form-control" required>
                    </div>
                    <div class="col  mb-3">
                        <label for="phone" class="col-form-label">Phone Number</label>
                        <input type="number" name="phone" id="phone" class="form-control" required>
                    </div>

                    <div class="col  mb-3">
                        <div class="form-check">
                            <input class="form-check-input" onclick="lockdesc();" type="checkbox" value="" name="currentpg" id="currentpg">
                            <label class="form-check-label" for="flexCheckDefault">
                              Product on Current Page
                            </label>
                          </div>

                        <label for="descriptions" class="col-form-label">Vehical Model / Tyre Size</label>
                        <textarea type="text" id="descriptions" name="descriptions"  class="form-control" required></textarea>
                    </div>
                    <input type="hidden" id="page" name="page" >

                    <div class="col  mb-3">
                        <a onclick="sendme();" class="btn btn-primary">Submit</a>
                    </div>


                </form>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->



<!-- Modal -->
<div class="modal modalloading" id="modalload" tabindex="-1" role="dialog" aria-labelledby="modalload">
     
         <div class="modal-content modalloading">

             <div class="modal-dialog modal-sm modalloading">
                <div class="modal-content modalloading" style="width: 48px">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </div>
            </div>
        </div>
         
    
</div><!-- modal -->



<script>

    document.getElementById("page").innerHTML = window.location.href;

    function lockdesc() {
        if (document.getElementById("currentpg").checked == true){ 
            document.getElementById("descriptions").innerHTML = window.location.href;

        } else { 
            document.getElementById("descriptions").innerHTML ="";

        }
    }


    function lockdesc() {
        if (document.getElementById("currentpg").checked == true){ 
            document.getElementById("descriptions").innerHTML = window.location.href;

        } else { 
            document.getElementById("descriptions").innerHTML ="";

        }
    }

    function sendme() {
       

          // preventing from page reload and default actions
            
            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            // make POST ajax call
            
            var data = new FormData();
            
            
            data.append( 'name', document.getElementById("name").value );
            data.append( 'phone', document.getElementById("phone").value  );
            data.append( 'inqu', document.getElementById("descriptions").value  );
            
            var dataString = "name="+ document.getElementById("name").value + "&phone="+ document.getElementById("phone").value+ "&inqu="+ document.getElementById("descriptions").value;

            document.getElementById("progress").innerHTML ='<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>';

            $.ajax({
                type: 'GET',
                url: "{% url 'contactus' %}",
                processData: false,
                contentType: false,
                data: dataString,
                success: function (response) {
                    

                    document.getElementById("progress").innerHTML ="";
                    $('#myModal2').modal('hide');
                    document.getElementById("name").value="";
                    document.getElementById("phone").value="";
                    document.getElementById("descriptions").value="";
                    
                    $('#myModal').modal('show');
                
                    
                },
                error: function (response) {
                    // alert the error if any error occured
                    document.getElementById("progress").innerHTML ="";
                    alert(response["responseJSON"]["error"]);
                }
            })

       
    }


</script>