{% load static %}

<header class="section-header">


    <div class="topbar">
        <div class="container d-flex justify-content-between">
            <div class="p-2 ">
                <a data-bs-toggle="modal" data-bs-target="#myModal2" href="#" class="link-dark">  <i class="fa fa-solid fa-phone"></i> &nbsp;  Customer Support +94 Testing </a> &nbsp;&nbsp;&nbsp;&nbsp;  
                 <i class="fa fa-solid fa-envelope"></i>  &nbsp; Email :  sales@besttyre.lk  
            </div>
            
            <div class=" p-2 ">
                <a href="https://www.facebook.com/besttyre.lk"><i class="fab fa-brands fa-facebook"></i></a>  &nbsp; &nbsp;
            <a href="https://www.instagram.com/besttyre">  <i class="fab fa-brands fa-instagram"></i></a>  &nbsp; &nbsp;
              <a href="#" class="link-dark" data-bs-toggle="modal" data-bs-target="#myModal2">  <i class="fa fa-solid fa-phone"></i></a>  
            </div>
        </div>
    </div>

    <section class="header-main border-bottom">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"> <img class="logo" src="{% static './images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
          <ul class="navbar-nav d-flex justify-content-center me-auto mb-2 mb-lg-0 ">

            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% for category in links %}

            <li class="nav-item active">
                <a class="nav-link" href="{{ category.get_url }}">  {{ category.category_name  }}</a>
              </li>
 
            {% endfor %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'brands' %}">Our Brands</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
            </li>
             
            <li class="nav-item active">
                <a class="nav-link" href="#"><div class="col-sm-5"></div></a>
              </li>
            </ul>
           

                <div class="d-flex">
                    {% if user.id is None %}
                    <div class="widget-header">
                        <small class="title text-muted">Welcome guest!</small>
                        <div> 
                            <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
                            <a href="{% url 'register' %}"> Register</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="widget-header">
                        <small class="title text-muted">Welcome {{ user.first_name }}!</small>
                        <div>
                            <a href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
                            <a href="{% url 'logout' %}"> Logout</a>
                        </div>
                    </div>
                    {% endif %}
                    <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                        <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                        <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
                    </a>
                </div> <!-- widgets-wrap.// -->

             


          
        </div>
      </div>
      </nav>
    </section> <!-- header-main .// -->


     
    
    
    
    </header> <!-- section-header.// -->