{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro">
    <div class="container">
        <div  style="align: center;" class="intro-banner-wrap">
            {% include "includes/alerts.html" %}
            
        </div>
    </div> <!-- container //  -->
    
    <div class='col-lg-12 seimg' style="background: url('{{ STATIC_URL }}static/images/banners/Safety.png') no-repeat;">
        
        

         
        <section class="section-name searchseation" >
            <div class="container">
         
                
                <div class="row">

                    <h4>Are you looking to buy a Tyre?</h4>
                    
                    <div class="col-sm-5 ">
                        <div class="col-sm-12">
                        <p>How to find car tyre size? <br>
                            225 is the section width of a tyre, 55 is Aspect Ratio of tyre, 18 is Diameter of the wheel rim</p>
                            
                            <img class="img-fluid" src="{% static 'images/banners/tyresize.png' %}">
                        </div>
                    </div>
                        <div class="col-sm-7">
                            <form action="{% url 'search_size' %}" method="GET" class="search">
                                


                                <div class="row mb-3">
                                    
                                    <div class="col col-sm-4"> 
                                    <label class="col col-form-label  col-form-label-sm" for="width">Width</label>
                                    <select class="form-select form-select-sm"  required onclick="getsizes('width');" id="width"name="width">
                                        <option>Width</option>
                                        {% for width in width %}
                                        <option>{{ width.width }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>


                                    <div class="col col-sm-4"> 
                                    <label class="col col-form-label col-form-label-sm" for="profile">Profile</label>
                                    <select class="form-select form-select-sm" required onclick="getsizes('profile');" id="profile"name="profile">
                                            
                                        <option>Profile</option>
                                        
                                    </select>
                                    </div>

                                    <div class="col col-sm-4"> 
                                    <label class="col col-form-label col-form-label-sm" for="diameter">Rim Size</label>
                                    <select class="form-select form-select-sm"  required onclick="getsizes('rim');"   id="diameter"name="diameter">
                                        <option>Rim Size</option>
                                    </select>
                                    </div>

                                     
                                </div>

                                <div class="row mb-3">
                                
                                <div class="col col-sm-4"> 
                                    <label class="col col-form-label col-form-label-sm" for="diameter">Pickup Location</label>
                                    <select class="form-select  form-select-sm"  required   id="ploc"name="ploc">
                                        <option>Any</option>
                                    </select>
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" type="submit">
                                    Search
                                    <i class="fa fa-search"></i>
                                </button>
                                
                            </form> 
                        </div>
                        
                    </div> <!-- row.// -->
                </div><!-- container // -->
            </section>




    </div>
    
</section>
<!-- ========================= SECTION MAIN END// ========================= -->


    
   
    
   
    <script>
        setTimeout(function () {
            $('#myModal2').modal('show');
        }, 2000);
        
        getsizes('width');
        
        function getsizes(cmbselect) {
            
            
            // preventing from page reload and default actions
            
            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            // make POST ajax call
            
            var data = new FormData();
            
            if (cmbselect == "width") {
                var dataString = "width="+ document.getElementById("width").value;
            }
            if (cmbselect == "profile") {
                var dataString = "width="+ document.getElementById("width").value + "&profile="+ document.getElementById("profile").value;
            }
            if (cmbselect == "rim") {
                var dataString = "width="+ document.getElementById("width").value + "&profile="+ document.getElementById("profile").value+ "&rim="+ document.getElementById("diameter").value;
            }
            
            
            $.ajax({
                type: 'GET',
                url: "{% url 'get_sizes' %}",
                data: dataString,
                success: function (response) {
                    if (cmbselect == "width") {
                        var mySelect = document.getElementById('profile');
                        mySelect.options.length = 0;
                        mySelect.options[0] = new Option ("Profile", "Profile");
                        i = 1;
                        response.width.forEach(function (item) { 
                            mySelect.options[i] = new Option (item.height, item.height);
                            i = i +1;
                        }); 
                        var mySelect = document.getElementById('diameter');
                        mySelect.options.length = 0;
                        mySelect.options[0] = new Option ("Rim Size", "Rim Size");
                        
                    }
                    
                    if (cmbselect == "profile") {
                        var mySelect = document.getElementById('diameter');
                        mySelect.options.length = 0;
                        mySelect.options[0] = new Option ("Rim Size", "Rim Size");
                        i = 1;
                        response.width.forEach(function (item) { 
                            mySelect.options[i] = new Option (item.diameter, item.diameter);
                            i = i +1;
                        }); 
                    }
                    if (cmbselect == "rim") {
                        var mySelect = document.getElementById('terrain');
                        mySelect.options.length = 0;
                        mySelect.options[0] = new Option ("Any", "Any");
                        i = 1;
                        response.width.forEach(function (item) { 
                            mySelect.options[i] = new Option (item.terrain, item.terrain);
                            i = i +1;
                        }); 
                    }
                    
                    
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            })
        }
        
        
        
        
        
    </script>
    <!-- ========================= SECTION  END// ========================= -->
    {% endblock %}
    
