{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="row">
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Billing Details</h4>
                       
                        <form action="{% url 'place_order' %}" method="POST" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="row g-3">
                              <div class="col-sm-6">
                                <label for="first_name" class="form-label">First name</label>
                                <input type="text" class="form-control"  name="first_name" id="first_name" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                  Valid first name is required.
                                </div>
                              </div>
                  
                              <div class="col-sm-6">
                                <label for="last_name" class="form-label">Last name</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                  Valid last name is required.
                                </div>
                              </div>
                  
                               
                  
                              <div class="col-12">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com" required>
                                <div class="invalid-feedback">
                                  Please enter a valid email address for shipping updates.
                                </div>
                              </div>
                              <div class="col-12">
                                <label for="email" class="form-label">Phone Number</label>
                                <input type="text" name="phone" class="form-control" id="phone"  required>
                                <div class="invalid-feedback">
                                  Please enter a valid email address for shipping updates.
                                </div>
                              </div>
                              <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" name="address_line_1" id="address_line_1" placeholder="1234 Main St" required>
                                <div class="invalid-feedback">
                                  Please enter your shipping address.
                                </div>
                              </div>
                  
                              <div class="col-12">
                                <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" name="address_line_2" id="address_line_2" placeholder="Apartment or suite">
                              </div>
                  
                              <div class="col-md-5">
                                <label for="country" class="form-label">Country</label>
                                <select class="form-select" name="country" id="country" required>
                                  <option value="">Choose...</option>
                                  <option>United States</option>
                                </select>
                                <div class="invalid-feedback">
                                  Please select a valid country.
                                </div>
                              </div>
                  
                              <div class="col-md-4">
                                <label for="state" class="form-label">State</label>
                                <select class="form-select" id="state" required>
                                  <option value="">Choose...</option>
                                  <option>California</option>
                                </select>
                                <div class="invalid-feedback">
                                  Please provide a valid state.
                                </div>
                              </div>
                  
                              <div class="col-md-3">
                                <label for="zip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="" required>
                                <div class="invalid-feedback">
                                  Zip code required.
                                </div>
                              </div>

                              <div class="col-12">
                                <label for="address2" class="form-label">Order Note <span class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" name="order_note" id="order_note" placeholder="Order Note">
                              </div>
                  

                            </div>
                  
                            
                             
                         

                    </div>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.images.url }}"
                                                    class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">
                                                    {{ cart_item.product.product_name }}</a>
                                                    <p class="text-muted small">Brand: {{ cart_item.product.brand }} <br> Country: {{ cart_item.product.country }} </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{cart_item.quantity}}</label>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">Rs. {{ cart_item.sub_total }}</var>
                                            <small class="text-muted"> Rs. {{ cart_item.price }} each </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Place Order</button>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        </form>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// --> 
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}