{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

<section class="section-content padding-y bg">
	<div class="container">
		<form action="https://sandbox.payhere.lk/pay/checkout" method="POST" class="needs-validation" novalidate>
		<!-- ============================ COMPONENT 1 ================================= -->
		<div class="row">
			<h4 class="text-center m-auto mb-3">
				Review your Order and Make Payment
			</h4>
			<aside class="col-lg-8 ">
				<div class="card  mb-3">
                    <h5 class="card-header">Billing Details</h5>
                    <div class="card-body">

						<input type="hidden" name="hash" value="{{ hash }}">    <!-- Replace with generated hash -->
						<input type="hidden" name="merchant_id" value="1221865">    <!-- Replace your Merchant ID -->
						
						<input type="hidden" name="return_url" value="https://genapps.work/return_url.php?order_id={{ order.order_number  }}">
						<input type="hidden" name="cancel_url" value="https://genapps.work/cancel_url.php">
						<input type="hidden" name="notify_url" value="https://genapps.work/notify_url.php">  
						<input type="hidden" name="last_name" value="ls">  
						<input type="hidden" name="order_id" value="{{ order.order_number }}">  
						
						<input type="hidden" name="items" value="Items">

						<input type="hidden" name="currency" value="LKR">
						<input type="hidden" name="amount" value="{{ grand_total }}">
						 
                        <p class="card-text mb-0"><input type="text" readonly  class="form-control-plaintext" name="first_name" value="{{ order.full_name }}"> </p>
                        <p class="card-text mb-0"><input type="text" readonly  class="form-control-plaintext" name="address" value="{{ order.full_address }}"></p>
                        <p class="card-text mb-0"><input type="text" readonly  class="form-control-plaintext" name="city" value="Colombo"></p>
                        <p class="card-text mb-0"><input type="text" readonly  class="form-control-plaintext" name="country" value="Sri Lanka"></p>
                        <p class="card-text mb-0"><input type="text" readonly  class="form-control-plaintext" name="email" value="{{ order.email }}"></p>
                        <p class="card-text mb-0"><input type="text" readonly  class="form-control-plaintext" name="phone" value="{{ order.phone }}"></p>
                        {% if order.order_note %}
                            <b>Order Note: </b> {{ order.order_note }}
                        {% endif %}
                    </div>
				</div>
				 
				<div class="card mb-3">
                    <h5 class="card-header">Review Products</h5>
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.images.url }}"
                                                    class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">
                                                    {{ cart_item.product.product_name }}</a>
													<p class="text-muted small">Brand: {{ cart_item.product.brand }} <br> Country: {{ cart_item.product.country }} </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{cart_item.quantity}}</label>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">Rs. {{ cart_item.sub_total }}</var>
                                            <small class="text-muted">Rs. {{ cart_item.price }} each </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
				</div>
			</aside>
			<!-- col.// -->
			<aside class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<dl class="dlist-align">
							<dt>Total price:</dt>
							<dd class="text-right">Rs. {{ total }}</dd>
						</dl>
						 
						<dl class="dlist-align">
							<dt>Total:</dt>
							<dd class="text-right text-dark b">
								<strong>Rs. {{ grand_total }}</strong>
							</dd>
						</dl>
						<hr />
						<p class="text-center mb-3">
							<img src="{% static 'images/misc/payments.png' %}" height="26" />
						</p>
						<div id="paypal-button-container">

						</div>
						<input type="submit" value="Buy Now">   

						<a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
					</div>
					<!-- card-body.// -->
				</div>
				<!-- card.// -->
			</aside>
			<!-- col.// -->
		</div>
		<!-- row.// -->
		</form>
		<!-- ============================ COMPONENT 1 END .// ================================= -->
	</div>
	<!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>
	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

 

/*
	let merchantSecret  = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxx';
	let merchantId      = '2xxxxx';
	let orderId         = '12345';
	let amount          = "{{ grand_total }}";
	let hashedSecret    = CryptoJS.MD5(merchantSecret).toString().toUpperCase();
	let amountFormated  = parseFloat( amount ).toLocaleString( 'en-us', { minimumFractionDigits : 2 } ).replaceAll(',', '');
	let currency        = 'LKR';
	let hash            = CryptoJS.MD5(merchantId + orderId + amountFormated + currency + hashedSecret).toString().toUpperCase();

*/	 
	 


	
	var url = "{% url 'payments' %}";
	var csrfToken = getCookie('csrftoken');
	var orderID = "{{ order.order_number }}";
	var paymentMethod = 'PayPal';
	var redirectUrl = "{% url 'order_complete' %}";
	  
	paypal.Buttons({
		// Style for button
		style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40,
        },

		// Set up the transaction
		createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: amount
					}
				}]
			});
		},

		// Finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
				$.ajax({
					type: 'POST',
					url: url,
					data: {
						'csrfmiddlewaretoken': "{{ csrf_token }}",
						'orderID': orderID,
						'transID': details.id,
						'payment_method': paymentMethod,
						'status': details.status,
					},
					success: function(response) {
						data = response.data;
						alert('Transaction completed by ' + details.payer.name.given_name + '!');
						window.location.href = redirectUrl + '?order_number=' + data["order_number"] + '&payment_id=' + data["transID"];
					},
					error: function(response) {
						error = response.error;
						alert('Transaction completed, but 1 error occurred: ' + e);
					}
				});
			});
		}
	}).render('#paypal-button-container');
</script>
{% endblock %}